.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-size: 1.4rem;
  height: 7rem;
  border-bottom: 1px solid var(--color-grey-light);
}

.logo {
  width: 3%;
}

.search {
  display: flex;
  flex: 0 0 30%;
  justify-self: center;
  border: none;
  padding: 1.1rem 1.6rem;
  font-size: 1.8rem;
  border-radius: 0.7rem;
  width: 40rem;
  transition: all 0.3s;
  color: var(--color-text);

  background-color: var(--color-grey-light);
}

.search::placeholder {
  color: var(--color-text-dark);
}

.search:focus {
  outline: none;
  box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.04);
  transform: translateY(-2px);
}

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.user-nav > *:hover {
  background-color: var(--color-primary-light);
}

.user-nav > * {
  padding: 0 3rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.user-nav--page {
  display: flex;
  gap: 0.5rem;
  color: var(--color-text-dark);
  background-color: transparent;
  border: none;
  outline: none;
}

/* button:focus,
button:active {
  outline: none;
  border: none;
  background-color: var(--color-primary-light);
} */

.active-state-btn {
  background-color: var(--color-primary-light);
}
